
#container{
  padding: 20px;
}

/*.underwriting {*/
/*  font-weight: bolder;*/
/*  text-align: start;*/
/*}*/

/*.underwriting tr {*/
/*  height: 70px;*/
/*  vertical-align: middle;*/
/*}*/

/*.underwriting tr td input {*/
/*  background: #FFFFFF;*/
/*  border: 1px solid #27ACE7;*/
/*  box-sizing: border-box;*/
/*  box-shadow: 0px 4px 10px -4px rgba(236, 239, 244, 0.7);*/
/*  border-radius: 16px;*/
/*}*/

/*.underwriting tr td textarea {*/
/*  background: #FFFFFF;*/
/*  border: 1px solid #27ACE7;*/
/*  box-sizing: border-box;*/
/*  box-shadow: 0px 4px 10px -4px rgba(236, 239, 244, 0.7);*/
/*  border-radius: 16px;*/
/*}*/

.custom-button{
  width: 100px;
  border: 2px solid #27ACE7;
  box-sizing: border-box;
  box-shadow: 0px 6px 2px -4px rgba(14, 14, 44, 0.08);
  border-radius: 16px;
}

select option:hover {
  background-color: #27ACE7;
  color: white;
}

select{
  height: 50px;
  background-color: #EDF3F3;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  width: 100%;
  color: #27ACE7;
  background-color: #fff;
  border-color: white white #27ACE7 white;
  border-width: 2px;
}

input{
  border: 1px solid #cfd5d5;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px -4px rgba(236, 239, 244, 0.7);
  border-radius: 16px;
}

/*select{*/
/*  border: 1px solid #cfd5d5 !important;*/
/*  height: 40px;*/
/*  background-color: white;*/
/*  box-shadow: 0px 4px 10px -4px rgba(236, 239, 244, 0.7);*/
/*  border-radius: 16px;*/
/*}*/

p{
  font-family: Overpass, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #1D2B51;
  opacity: 0.5;
  margin-bottom: 5px;
}

.page-container{
  width: 32px;
  height: 32px;
  color: #1D2B51;
  background: #EDF3F3;
  border-radius: 20px;
  text-align: center;
  padding: 0;
}

.page-num{
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.05em;
  text-shadow: 0px 1px 6px rgba(225, 255, 255, 0.5);
}

.underwrite{
  width: 50%;
  cursor: pointer;
  text-align: center;
  border: 2px solid #27ACE7;
  box-sizing: border-box;
  box-shadow: 0px 6px 2px -4px rgba(14, 14, 44, 0.08);
  border-radius: 16px;
  white-space: normal;
  color: #27ACE7;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
}

.radio option{
  display: block;
  width: 100%;
}

.form-select{
  overflow: hidden;
  border:0;
  box-shadow: none;
  padding: 0;
}

.dropzone{
  height: 130px;
  padding: 2rem;
  text-align: center;
  border: dashed 2px grey;
  background: rgba(237, 243, 243, 0.6);
  border-radius: 16px;
  position: relative;
}

.file{
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.underwriting tr {
  height: 70px;
  vertical-align: middle;
}

.underwriting tr td input {
  background: #FFFFFF;
  border: 1px solid #27ACE7;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px -4px rgba(236, 239, 244, 0.7);
  border-radius: 16px;
}

.underwriting tr td textarea {
  background: #FFFFFF;
  border: 1px solid #27ACE7;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px -4px rgba(236, 239, 244, 0.7);
  border-radius: 16px;
}

.goals{
  width: 50%;
  cursor: pointer;
  text-align: center;
  border: 2px solid #27ACE7;
  box-sizing: border-box;
  box-shadow: 0px 6px 2px -4px rgba(14, 14, 44, 0.08);
  border-radius: 16px;
  white-space: normal;
  color: #27ACE7;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
}

.goal-select{
  width: 80%;
  height: 70px;
  background: #FFFFFF;
  text-align: center;
  border: 2px solid #27ACE7;
  box-sizing: border-box;
  box-shadow: 0px 6px 2px -4px rgba(14, 14, 44, 0.08);
  border-radius: 16px;
  white-space: normal;
  color: #27ACE7;
  font-weight: bold;
  font-size: 16px;
}

.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}

.header-card{
  /* H/32 */

  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  align-items: center;
  text-align: center;
  color: #261A30;
  opacity: 0.1;
}

.v-divider{
  margin-left:5px;
  margin-right:5px;
  width:1px;
  height:100%;
  border-left:1px solid gray;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background: rgba(237, 243, 243, 0.6);
  color: black;
}

.notif-date{
  font-family: Overpass, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  color: #C9CBD1;
}

.steps{
  border-radius: 16px;
  border: none;
  pointer-events: none;
}

.select-intake{
  height: 40px;
  background-color: white;
  border-radius: 16px;
}

/*SIDEBAR*/
