.submit-btn{
  height: 45px;
  width: 100px;
  left: 0px;
  top: 0px;
  border-radius: 100rem;
  background: linear-gradient(103.88deg, #27ACE7 8.14%, #4BEBCF 93.22%);
  color: #CCFFFF;
  box-shadow: 0px 11px 14px -10px rgba(51, 51, 51, 0.3);
}

button.btn:hover {
  box-shadow: none;
  color: black;
}

input, select{
  border-radius: 16px;
}

.height-50{
  height: 50px;
}

.opacity-50{
  opacity: 0.5;
}

.underwriting tr {
  height: 70px;
  vertical-align: middle;
}

.underwriting tr td input {
  background: #FFFFFF;
  border: 1px solid #27ACE7;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px -4px rgba(236, 239, 244, 0.7);
  border-radius: 16px;
}

.underwriting tr td textarea {
  background: #FFFFFF;
  border: 1px solid #27ACE7;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px -4px rgba(236, 239, 244, 0.7);
  border-radius: 16px;
}

.form-select{
  overflow: hidden;
  border:0;
  box-shadow: none;
  padding: 0;
}

.goals{
  width: 50%;
  cursor: pointer;
  text-align: center;
  border: 2px solid #27ACE7;
  box-sizing: border-box;
  box-shadow: 0px 6px 2px -4px rgba(14, 14, 44, 0.08);
  border-radius: 16px;
  white-space: normal;
  color: #27ACE7;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
}

.radio option{
  display: block;
  width: 100%;
}

select option:hover {
  background-color: #27ACE7;
  color: white;
}

select{
  height: 50px;
  background-color: #EDF3F3;
}
