<div id="container">
  <div class="card mb-4">
    <div class="header m-4">
      <h4 class="fw-bolder">Work Plan</h4>
    </div>
    <div class="body ms-3 mb-5">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#personal" type="button" role="tab" aria-controls="home" aria-selected="true">Proposal</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="home-tab">
      <div class="card mt-3 ms-4 me-4">
<!--        <div class="header m-3">-->
<!--          <h4>Credit Analysis</h4>-->
<!--          <hr>-->
<!--        </div>-->
<!--        <i class="fa fa-download pointer m-5 mt-0" aria-hidden="true" style="color: #66ace9;" (click)="openPDF()">  Click to export pdf</i>-->
<!--        <div class="card mse-10" style="box-shadow: 0px 8px 28px 2px rgba(240, 240, 238, 0.8); border: none" id="data-to-export">-->
          <div class="row body m-md-5">
            <table id="my-table">
              <thead>
              <tr>
                <th>
                  <div class="body text-center mb-5">
                    <h3 class="modal-title fw-bolder text-dark">Credit Analysis</h3>
                  </div>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas nec sem sit amet commodo. Aliquam metus metus, ullamcorper vitae facilisis in, pretium non nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis commodo tortor auctor laoreet. Nulla vel urna nec justo aliquam iaculis nec vitae tortor. Mauris ut metus non augue dapibus elementum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec tristique mauris odio, vel tempor augue aliquet a. Quisque mattis ultricies orci, quis maximus ex condimentum sed.

                  Donec sed neque commodo, elementum dolor vitae, vehicula nulla. Morbi vel commodo lectus. Morbi mollis tempus lorem id condimentum. Proin tempor in felis quis blandit. Sed bibendum ac leo at convallis. Ut nec leo eu mi mollis hendrerit. Aenean hendrerit lectus at posuere consectetur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam erat volutpat. Aenean et finibus lacus. Duis aliquet euismod arcu vitae rhoncus. Duis facilisis nunc id purus volutpat, sed viverra mauris placerat. Ut sodales risus eu massa iaculis elementum. Aenean bibendum sagittis pulvinar. Curabitur suscipit at massa ac ullamcorper.
                </td>
              </tr>
              </tbody>
            </table>
          </div>
<!--          <div class="text-center mb-3">-->
<!--            <div class="form-check">-->
<!--              <input class="form-check-input float-none me-2" type="checkbox" value="" (change)="toggleEditable($event)">-->
<!--              <label class="form-check-label">-->
<!--                I Agree-->
<!--              </label>-->
<!--            </div>-->
<!--          </div>-->
        <div class="text-end mb-3 me-3">
          <button class="btn btn-lg download-btn" (click)="openPDF()"><i class="fa fa-download me-3"></i>Download</button>
        </div>
      </div>
    </div>
  </div>

</div>
