<div id="container">
  <div class="card mb-4">
    <div class="header m-4">
      <h4 class="fw-bolder">Work Plan</h4>
    </div>
    <div class="body ms-3 mb-5">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#personal" type="button" role="tab" aria-controls="home" aria-selected="true">Proposal</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="tab-content" id="myTabContent">
    <!-- Start Personal Details Tab -->
    <div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="home-tab">
      <div class="card mt-3 ms-4 me-4">
        <div class="header m-3">
          <h4>Credit Analysis</h4>
          <hr>
        </div>
        <div class="row body mb-5 m-3">
          <div class="body ms-3">
            <span class="fw-bold pointer text-primary">WadeWarren-credit-analysis-01Jan2021.pdf</span>
            <i class="fa fa-file pointer ms-4" aria-hidden="true" style="color: #66ace9;"></i>
            <i class="fa fa-download pointer ms-4" aria-hidden="true" style="color: #66ace9;"></i>
          </div>
        </div>
        <div class="card mse-10" style="box-shadow: 0px 8px 28px 2px rgba(240, 240, 238, 0.8); border: none">
          <div class="row body m-md-5">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas nec sem sit amet commodo.
              Aliquam metus metus, ullamcorper vitae facilisis in, pretium non nisl. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Donec venenatis commodo tortor auctor laoreet. Nulla vel urna nec justo
              aliquam iaculis nec vitae tortor. Mauris ut metus non augue dapibus elementum. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec tristique mauris odio,
              vel tempor augue aliquet a. Quisque mattis ultricies orci, quis maximus ex condimentum sed.</p>

            <p>Donec sed neque commodo, elementum dolor vitae, vehicula nulla. Morbi vel commodo lectus. Morbi mollis
              tempus lorem id condimentum. Proin tempor in felis quis blandit. Sed bibendum ac leo at convallis.
              Ut nec leo eu mi mollis hendrerit. Aenean hendrerit lectus at posuere consectetur. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam erat volutpat. Aenean et finibus
              lacus. Duis aliquet euismod arcu vitae rhoncus. Duis facilisis nunc id purus volutpat, sed viverra mauris
              placerat. Ut sodales risus eu massa iaculis elementum. Aenean bibendum sagittis pulvinar.
              Curabitur suscipit at massa ac ullamcorper.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
