p{
  font-family: Overpass, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #787D8D;
}

input, select, textarea{
  border-radius: 16px;
}

.date{
  font-family: Overpass, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;

  /* label - light */

  color: #C9CBD1;
}

.chat{
  background: rgba(237, 243, 243, 0.6);
  border-radius: 8px;
}

