<div *ngIf="!stepCorporate && !ULine">
  <div class="card mb-4">
    <div class="row header m-3 mb-0">
      <div class="col-md-6">
        <p>Steps to be Performed</p>
      </div>
      <div class="col-md-3">
        <p>Status</p>
      </div>
      <div class="col-md-3">
        <p>Date</p>
      </div>
      <hr>
    </div>
    <div class="body">
      <div class="row fw-bolder m-3">
        <div class="col-md-6">
          Business name check
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-success" style="border-radius: 16px">Done</button>
        </div>
        <div class="col-md-2">
          01 Jun 2021
        </div>
        <div class="col-md-1">
          <i class="fa fa-angle-right fw-bolder pointer"></i>
        </div>
        <hr class="mt-4">
      </div>
      <div class="row fw-bolder m-3">
        <div class="col-md-6">
          Corporate address set-up and Lender Compliance check
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-warning" style="border-radius: 16px">In progress</button>
        </div>
        <div class="col-md-2">
          24 Jun 2021
          <p>(7 days left)</p>
        </div>
        <div class="col-md-1">
          <i class="fa fa-angle-right fw-bolder pointer" (click)="showStepCorporate()"></i>
        </div>
        <hr class="mt-4">
      </div>
      <div class="row fw-bolder m-3">
        <div class="col-md-6">
          EIN and entity setup
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-1">
          <i class="fa fa-angle-right fw-bolder pointer"></i>
        </div>
        <hr class="mt-4">
      </div>
      <div class="row fw-bolder m-3">
        <div class="col-md-6">
          411 Listing
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-1">
          <i class="fa fa-angle-right fw-bolder pointer"></i>
        </div>
        <hr class="mt-4">
      </div>
      <div class="row fw-bolder m-3">
        <div class="col-md-6">
          Professional email set-up and Lender Compliance check
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-1">
          <i class="fa fa-angle-right fw-bolder pointer"></i>
        </div>
        <hr class="mt-4">
      </div>
    </div>
  </div>

  <div class="card">
    <div class="row header m-3">
      <div class="col">
        <h4>LCP Enhancement</h4>
      </div>
    </div>
    <div class="body text-center m-5 mt-0">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Tier 1 <img class="ms-2" src="/assets/images/info-blue.png" alt="...">
              <button type="button" class="btn btn-warning" style="border-radius: 16px; margin-left: 50%">In progress</button>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row">
                <div class="card col p-0 m-2 pointer" style="border-radius: 16px;" (click)="showULine()">
                  <div class="card-header" style="border-radius: 16px; height: 60px">
                    <img src="/assets/images/u-line.png" class="text-center" alt="...">
                  </div>
                  <div class="card-body">
                    <p class="card-text">ULINE</p>
                    <div class="row">
                      <div class="col-md-3">
                        <p class="card-text">$ 70</p>
                      </div>
                      <div class="col-md-9">
                        <button type="button" class="btn btn-warning" style="border-radius: 16px">Submitted - Awaiting Approval</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card col p-0 m-2 pointer" style="border-radius: 16px;">
                  <div class="card-header" style="border-radius: 16px; height: 60px">
                    <img src="/assets/images/kd-supply.png" class="text-center" alt="...">
                  </div>
                  <div class="card-body">
                    <p class="card-text">HD SUPPLY</p>
                    <p class="card-text">$ 70</p>
                  </div>
                </div>
                <div class="card col p-0 m-2 pointer" style="border-radius: 16px;">
                  <div class="card-body">
                    <p>Select vendor</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Tier 2 <img class="ms-2" src="/assets/images/info-blue.png" alt="...">
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Tier 2</strong>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Tier 3 <img class="ms-2" src="/assets/images/info-blue.png" alt="...">
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Tier 3
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Tier 4 <img class="ms-2" src="/assets/images/info-blue.png" alt="...">
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Tier 4</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="stepCorporate">
  <div class="row mb-3">
    <div class="col-md-8">
      <div class="card">
        <div class="row header m-3 mb-0 ms-0">
          <div class="col-md-1">
            <button type="button" class="btn-toggle-offcanvas btn btn-sm btn-default float-right" (click)="backToSteps()"><i class="lnr lnr-menu fa fa-chevron-circle-left" style="color: black ; font-size: 20px;"></i></button>
          </div>
          <div class="col">
            <h5>Corporate address set-up and Lender Compliance check</h5>
          </div>
        </div>
          <hr>
        <div class="body ms-3 me-3 mb-5">
          <div class="col">
            <p><input type="checkbox" class="form-check-input me-2 m-0">
            Lorem ipsum dolor sit amet</p>
          </div>
            <hr class="mt-4">
          <div class="col">
            <p><input type="checkbox" class="form-check-input me-2 m-0">
            Praesent lacinia odio non velit ullamcorper cursus</p>
          </div>
            <hr class="mt-4">
          <div class="col">
            <p><input type="checkbox" class="form-check-input me-2 m-0">
            Mauris vel diam auctor</p>
          </div>
            <hr class="mt-4">
          <div class="col">
            <p><input type="checkbox" class="form-check-input me-2 m-0">
            Sed efficitur lectus non orci</p>
          </div>
            <hr class="mt-4">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="header m-3">
          <button type="button" class="btn btn-warning" style="border-radius: 16px">In progress</button>
        </div>
          <hr>
        <div class="body ms-3 me-3 mb-2">
          <div class="col">
            <p>Projected Date of Completion</p>
            24 Jun 2021
            <br><br>
            <p>Cost</p>
            $ 100.00
            <br><br>
            <hr>
          </div>
          <div class="col">
            <p>Assigned Solutionist</p>
            <div class="row">
              <div class="col-1">
                <img src="/assets/images/dashboard/user-pic01.png" class="text-center" alt="...">
              </div>
              <div class="col ms-3">
                <p>Floyd Miles</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="header m-3">
          <h5>Comments</h5>
        </div>
        <hr>
        <div class="body ms-3 me-3 mb-5">
          <div class="row">
            <div class="col-1">
              <img src="/assets/images/dashboard/user-pic01.png" class="text-center" alt="...">
            </div>
            <div class="col">
              <div class="row">
                <div class="col-3" style="width: 18%;">
                  <p>Floyd Miles</p>
                </div>
                <div class="col">
                  <span class="date">01 Jun 2021  13:00</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 container chat ms-3">
                  <p>Aenean sed lobortis odio. Sed efficitur lectus non orci vehicula hendrerit.
                    Phasellus commodo felis mi</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
              <img src="/assets/images/dashboard/user-pic01.png" class="text-center" alt="...">
            </div>
            <div class="col">
              <div class="row">
                <div class="col-3" style="width: 18%;">
                  <p>Floyd Miles</p>
                </div>
                <div class="col">
                  <span class="date">01 Jun 2021  13:00</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 container chat ms-3">
                  <p>Aenean sed lobortis odio. Sed efficitur lectus non orci vehicula hendrerit.
                    Phasellus commodo felis mi</p>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-1">
              <img src="/assets/images/dashboard/profile-default.png" class="text-center" width="40" alt="...">
            </div>
            <div class="col">
              <textarea class="form-control w-75"></textarea>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="ULine">
  <div class="row clearfix">
    <div class="col-lg-8 col-md-8">
        <div class="card mb-3">
          <div class="row header m-3 mb-0 ms-0">
            <div class="col-md-1">
              <button type="button" class="btn-toggle-offcanvas btn btn-sm btn-default float-right" (click)="backToSteps()"><i class="lnr lnr-menu fa fa-chevron-circle-left" style="color: black ; font-size: 20px;"></i></button>
            </div>
            <div class="col">
              <h5>Tier 1</h5>
            </div>
          </div>
          <hr>
          <div class="body ms-3 me-3 mb-5">
            <div class="col">
              <p><input type="checkbox" class="form-check-input me-2 m-0">
                Lorem ipsum dolor sit amet</p>
            </div>
            <hr class="mt-4">
            <div class="col">
              <p><input type="checkbox" class="form-check-input me-2 m-0">
                Praesent lacinia odio non velit ullamcorper cursus</p>
            </div>
            <hr class="mt-4">
            <div class="col">
              <p><input type="checkbox" class="form-check-input me-2 m-0">
                Mauris vel diam auctor</p>
            </div>
            <hr class="mt-4">
            <div class="col">
              <p><input type="checkbox" class="form-check-input me-2 m-0">
                Sed efficitur lectus non orci</p>
            </div>
            <hr class="mt-4">
          </div>
        </div>
        <div class="card mb-3">
          <div class="row header m-3 mb-0 ms-0">
            <div class="col">
              <h5>Details</h5>
            </div>
          </div>
          <hr>
          <div class="body ms-3 me-3 mb-5">
            <div class="row clearfix">
              <div class="col-lg-6 col-md-6">
                <div class="row clearfix text-start">
                  <div class="col-md-12 mb-2">
                    <p>Reporting to</p>
                    <div class="row ms-2">
                      <div class="col text-center" style="background: rgba(237, 243, 243, 0.6); border-radius: 16px; height: 40px;">
                        <img src="/assets/images/bradstreet.png" class="pt-2" alt="...">
                      </div>
                      <div class="col text-center" style="background: rgba(237, 243, 243, 0.6); border-radius: 16px; height: 40px;">
                        <img src="/assets/images/experian.png" class="pt-1" alt="...">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row clearfix text-start">
                  <div class="col-md-12 mb-2">
                      <p>Credit limit</p>
                    <input type="text" class="form-control" value="$ 10,000,000">
                  </div>
                </div>
                <div class="row clearfix text-start">
                  <div class="col-md-12 mb-2">
                    <p>Account type</p>
                    <input type="text" class="form-control" value="Net 30">
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="row clearfix text-start">
                  <div class="col-md-12 mb-2">
                    <p>Vendor / Lender details</p>
                    <input type="text" class="form-control" style="height: 125px;" value="Lorem ipsum dolor sit amet">
                  </div>
                </div>
                <div class="row clearfix text-start">
                  <div class="col-md-12 mb-2">
                    <p>Username</p>
                    <input type="text" class="form-control" value="Wade Warren">
                  </div>
                </div>
                <div class="row clearfix text-start">
                  <div class="col-md-12 mb-2">
                    <p>Password</p>
                    <div class="input-group input-group-sm mb-3">
                      <input type="password" class="form-control" value="Sample Text" [type]="fieldTextType ? 'text' : 'password'" style="border-top-left-radius: 16px; border-bottom-left-radius: 16px; height: 40px">
                      <span class="input-group-text pointer" id="inputGroup-sizing-sm" (click)="toggleFieldTextType()"><img src="/assets/images/eye.png" class="" alt="..."></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="header m-3">
          <h5>Comments</h5>
        </div>
        <hr>
        <div class="body ms-3 me-3 mb-5">
          <div class="row mt-3">
            <div class="col-1">
              <img src="/assets/images/dashboard/user-pic01.png" class="text-center" alt="...">
            </div>
            <div class="col">
              <div class="row">
                <div class="col-3" style="width: 18%;">
                  <p>Floyd Miles</p>
                </div>
                <div class="col">
                  <span class="date">01 Jun 2021  13:00</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 container chat ms-3">
                  <p>Aenean sed lobortis odio. Sed efficitur lectus non orci vehicula hendrerit.
                    Phasellus commodo felis mi</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-1">
              <img src="/assets/images/dashboard/user-pic01.png" class="text-center" alt="...">
            </div>
            <div class="col">
              <div class="row">
                <div class="col-3" style="width: 18%;">
                  <p>Floyd Miles</p>
                </div>
                <div class="col">
                  <span class="date">01 Jun 2021  13:00</span>
                </div>
              </div>
              <div class="row" style="height: 90px">
                <div class="col-md-8 container chat ms-3">
                  <div class="row">
                    <div class="col">
                      <div class="card m-2 h-100">
                        <div class="card-body text-center">
                          <img src="/assets/images/img-error.png" class="text-center" alt="...">
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card m-2 h-100">
                        <div class="card-body text-center">
                          <img src="/assets/images/img-error.png" class="text-center" alt="...">
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card m-2 h-100">
                        <div class="card-body text-center">
                          <img src="/assets/images/img-error.png" class="text-center" alt="...">
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card m-2 h-100">
                        <div class="card-body text-center">
                          <img src="/assets/images/img-error.png" class="text-center" alt="...">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row mt-3 mb-3" *ngIf="isCommentSend">
            <div class="col-1">
              <img src="/assets/images/dashboard/profile-default.png" class="text-center" width="40" alt="...">
            </div>
            <div class="col">
              <div class="row">
                <div class="col-3" style="width: 18%;">
                  <p>Floyd Miles</p>
                </div>
                <div class="col">
                  <span class="date">01 Jun 2021  13:00</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 container chat ms-3">
                  <p>{{commentMsg}}</p>
                  <div class="col" *ngIf="commentUrl">
                    <div class="card m-2 h-100">
                      <div class="card-body text-center">
                        <img [src]="commentUrl" width="100">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>
          <div class="row" *ngIf="msg" style="color: red;">
            {{msg}}
          </div>
          <div class="row" *ngIf="url">
            <div class="col-1">
            </div>
            <div class="col pb-2">
              <p class="m-0">You have uploaded:</p>
              <a href="javascript:void(0)" (click)="url = ''"><img [src]="url" width="30"><span class="m-0 ms-1">{{fileToUpload.name}}</span><i class="fa fa-trash fa-fw"></i></a>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
              <img src="/assets/images/dashboard/profile-default.png" class="text-center" width="40" alt="...">
            </div>
            <div class="col" style="position: relative">
              <div class="row">
                <div class="col-11">
                  <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="comment" [config]="editorConfig"></angular-editor>
                </div>
                <div (click)="sendComment()" class="col-1 pointer" style="bottom: 0; right: 0; position: absolute; background: #c5caca; height: 50px;" *ngIf="comment">
                  <i class="fa fa-paper-plane fa-2x mt-2 text-primary"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="card mb-3">
        <div class="header m-3">
          <button type="button" class="btn btn-warning" style="border-radius: 16px">Submitted - Awaiting Approval</button>
        </div>
        <hr>
        <div class="body ms-3 me-3 mb-5">
          <div class="col">
            <img src="/assets/images/u-line.png" class="text-center w-100" alt="...">
          </div>
          <hr class="mt-4">
          <div class="row clearfix text-start">
            <div class="col-md-12 mb-2">
              <p>Vendor name</p>
              <h5>ULINE</h5>
            </div>
          </div>
          <div class="row clearfix text-start">
            <div class="col-md-12 mb-2">
              <p>Websit</p>
              <h5>https://www.uline.com</h5>
            </div>
          </div>
          <div class="row clearfix text-start">
            <div class="col-md-12 mb-2">
              <p>Estimated Cost</p>
              <h5>$ 70.00</h5>
            </div>
          </div>
          <div class="row clearfix text-start">
            <div class="col-md-12 mb-2">
              <p>Total Running Cost</p>
              <h5>$ 90.00</h5>
            </div>
          </div>
          <button type="button" class="btn btn-primary" style="border-radius: 16px" (click)="showPaymentHistory()">see payment history</button>
          <hr>
          <div class="row clearfix text-start">
            <div class="col-1 mt-3 me-3">
              <img src="/assets/images/dashboard/user-pic01.png" class="text-center" alt="...">
            </div>
            <div class="col mt-3 ">
              <p>Floyd Miles</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--START PAYMENT HISTORY MODAL-->
<div id="payment-history" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: 0;">
        <h5 class="modal-title fw-bolder">Payment history</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-3 ms-0 me-0 mb-0">
        <div class="row text-start fw-bolder">
          <div class="col-md-2">
            <p>Invoice #</p>
          </div>
          <div class="col-md-2">
            <p>Min Payment</p>
          </div>
          <div class="col-md-2">
            <p>Amount Paid</p>
          </div>
          <div class="col-md-2">
            <p>Due Date</p>
          </div>
          <div class="col-md-2">
            <p>Date Paid</p>
          </div>
          <div class="col-md-2">
            <p>Status</p>
          </div>
        </div>
        <hr>
        <div class="row text-start fw-bolder">
          <div class="col-md-2">
            60934-38890
          </div>
          <div class="col-md-2">
            $ 36.00
          </div>
          <div class="col-md-2">
            $ 36.00
          </div>
          <div class="col-md-2">
            09-09-2020
          </div>
          <div class="col-md-2">
            09-09-2020
          </div>
          <div class="col-md-2">
            Paid
          </div>
        </div>
        <hr>
        <div class="row text-start fw-bolder">
          <div class="col-md-2">
            60934-38463
          </div>
          <div class="col-md-2">
            $ 36.00
          </div>
          <div class="col-md-2">
            $ 36.00
          </div>
          <div class="col-md-2">
            08-06-2020
          </div>
          <div class="col-md-2">
            08-06-2020
          </div>
          <div class="col-md-2">
            <span class="text-danger">Failed</span>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
<!--END PAYMENT HISTORY MODAL-->

