<div class="card mb-4">
  <div class="row header m-3 mb-0">
    <div class="col-md-6">
      <p>Steps to be Performed</p>
    </div>
    <div class="col-md-3">
      <p>Status</p>
    </div>
    <div class="col-md-3">
      <p>Date</p>
    </div>
    <hr>
  </div>
  <div class="body">
    <div class="row fw-bolder m-3">
      <div class="col-md-6">
        Business name check
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-1">
        <i class="fa fa-angle-right fw-bolder pointer"></i>
      </div>
      <hr class="mt-4">
    </div>
    <div class="row fw-bolder m-3">
      <div class="col-md-6">
        Corporate address set-up and Lender Compliance check
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-1">
        <i class="fa fa-angle-right fw-bolder pointer"></i>
      </div>
      <hr class="mt-4">
    </div>
    <div class="row fw-bolder m-3">
      <div class="col-md-6">
        EIN and entity setup
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-1">
        <i class="fa fa-angle-right fw-bolder pointer"></i>
      </div>
      <hr class="mt-4">
    </div>
    <div class="row fw-bolder m-3">
      <div class="col-md-6">
        411 Listing
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-1">
        <i class="fa fa-angle-right fw-bolder pointer"></i>
      </div>
      <hr class="mt-4">
    </div>
    <div class="row fw-bolder m-3">
      <div class="col-md-6">
        Professional email set-up and Lender Compliance check
      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-1">
        <i class="fa fa-angle-right fw-bolder pointer"></i>
      </div>
      <hr class="mt-4">
    </div>
  </div>
</div>

<div class="card">
  <div class="row header m-3">
    <div class="col">
      <h4>LCP Enhancement</h4>
    </div>
  </div>
  <div class="body text-center m-5 mt-0">
    <div class="row">
      <div class="col-md-6 m-5 mt-0">
        <p>Credit builder account</p>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row m-5 mt-0 mb-3">
      <hr>
      <div class="col-md-6 p-0">
        <p>Reporting to</p>
        <select class="form-select" aria-label="Default select example">
          <option selected></option>
          <option value="1">Lorem Ipsum</option>
          <option value="2">Lorem Ipsum</option>
          <option value="3">Lorem Ipsum</option>
        </select>
        <br>
        <p>Credit vendor / Lender status</p>
        <select class="form-select" aria-label="Default select example">
          <option selected></option>
          <option value="1">Lorem Ipsum</option>
          <option value="2">Lorem Ipsum</option>
          <option value="3">Lorem Ipsum</option>
        </select>
      </div>
      <div class="col-md-6">
        <p>Vendor / Lender Details</p>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
      </div>
    </div>
    <div class="row m-5 mt-0 mb-3">
      <div class="col-md-6 p-0">
        <p>Credit limit</p>
        <input type="text" class="form-control">
      </div>
      <div class="col-md-6">
        <p>Username</p>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row m-5 mt-0 mb-3">
      <div class="col-md-6 p-0">
        <p>Account type</p>
        <select class="form-select" aria-label="Default select example">
          <option selected></option>
          <option value="1">Lorem Ipsum</option>
          <option value="2">Lorem Ipsum</option>
          <option value="3">Lorem Ipsum</option>
        </select>
      </div>
      <div class="col-md-6">
        <p>Password</p>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row m-5 mt-0 mb-3">
      <div class="col-md-6 p-0">
        <p>Payment status</p>
        <select class="form-select" aria-label="Default select example">
          <option selected></option>
          <option value="1">Lorem Ipsum</option>
          <option value="2">Lorem Ipsum</option>
          <option value="3">Lorem Ipsum</option>
        </select>
      </div>
    </div>
    <div class="row m-5 mt-0 mb-3">
      <div class="col p-0">
        <p>Upload</p>
        <div class="card" style="background: #EDF3F399;">
          <div class="card-body">
            <div class="row text-start">
              <div class="col-md-6">
                Filename
              </div>
              <div class="col-md-3">
                Size
              </div>
              <div class="col-md-3">
                Date
              </div>
            </div>
            <hr>
            <div class="row text-start fw-bolder">
              <div class="col-md-6">
                loremipsum.pdf
              </div>
              <div class="col-md-3">
                3 MB
              </div>
              <div class="col-md-3">
                01 Jun 2021
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
