<div *ngIf="!stepCorporate && !ULine">
  <div class="card mb-4">
    <div class="row header m-3 mb-0">
      <div class="col-md-6">
        <p>Steps to be Performed</p>
      </div>
      <div class="col-md-3">
        <p>Status</p>
      </div>
      <div class="col-md-3">
        <p>Date</p>
      </div>
      <hr>
    </div>
    <div class="body">
      <div class="row fw-bolder m-3">
        <div class="col-md-6">
          Business name check
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-success" style="border-radius: 16px">Done</button>
        </div>
        <div class="col-md-2">
          01 Jun 2021
        </div>
        <div class="col-md-1">
          <i class="fa fa-angle-right fw-bolder pointer"></i>
        </div>
        <hr class="mt-4">
      </div>
      <div class="row fw-bolder m-3">
        <div class="col-md-6">
          Corporate address set-up and Lender Compliance check
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-warning" style="border-radius: 16px">In progress</button>
        </div>
        <div class="col-md-2">
          24 Jun 2021
        </div>
        <div class="col-md-1">
          <i class="fa fa-angle-right fw-bolder pointer" (click)="showStepCorporate()"></i>
        </div>
        <hr class="mt-4">
      </div>
      <div class="row fw-bolder m-3">
        <div class="col-md-6">
          EIN and entity setup
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-1">
          <i class="fa fa-angle-right fw-bolder pointer"></i>
        </div>
        <hr class="mt-4">
      </div>
      <div class="row fw-bolder m-3">
        <div class="col-md-6">
          411 Listing
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-1">
          <i class="fa fa-angle-right fw-bolder pointer"></i>
        </div>
        <hr class="mt-4">
      </div>
      <div class="row fw-bolder m-3">
        <div class="col-md-6">
          Professional email set-up and Lender Compliance check
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-1">
          <i class="fa fa-angle-right fw-bolder pointer"></i>
        </div>
        <hr class="mt-4">
      </div>
    </div>
  </div>

  <div class="card">
    <div class="row header m-3">
      <div class="col">
        <h4>LCP Enhancement</h4>
      </div>
    </div>
    <div class="body text-center m-5 mt-0">
      <div class="body ms-3 mb-5">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="tier-1-tab" data-bs-toggle="tab" data-bs-target="#tier-1" type="button" role="tab" aria-controls="tier-1" aria-selected="true">Tier 1</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="tier-2-tab" data-bs-toggle="tab" data-bs-target="#tier-2" type="button" role="tab" aria-controls="tier-2" aria-selected="false">Tier 2</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="tier-3-tab" data-bs-toggle="tab" data-bs-target="#tier-3" type="button" role="tab" aria-controls="tier-3" aria-selected="false">Tier 3</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="tier-4-tab" data-bs-toggle="tab" data-bs-target="#tier-4" type="button" role="tab" aria-controls="tier-4" aria-selected="false">Tier 4</button>
          </li>
        </ul>
      </div>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="tier-1" role="tabpanel" aria-labelledby="home-tab">
          <div class="row body text-center mb-5 m-3">
            <div class="card col p-0 m-2 pointer" style="border-radius: 16px;" (click)="showULine()">
              <div class="card-header" style="border-radius: 16px; height: 60px">
                  <img src="/assets/images/u-line.png" class="text-center" alt="...">
              </div>
              <div class="card-body">
                <p class="card-text">ULINE</p>
                <p class="card-text">$ 70</p>
              </div>
            </div>
            <div class="card col p-0 m-2" style="border-radius: 16px;">
              <div class="card-header" style="border-radius: 16px; height: 60px">
                <img src="/assets/images/kd-supply.png" class="text-center" alt="...">
              </div>
              <div class="card-body">
                <p class="card-text">HD SUPPLY</p>
                <p class="card-text">$ 70</p></div>
            </div>
            <div class="card col m-2" style="border-radius: 16px;">
              <div class="card-body">
                <p>Select vendor</p>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="tier-2" role="tabpanel" aria-labelledby="home-tab">
          <div class="row body text-center mb-5 m-3">
            Tier 2
          </div>
        </div>
        <div class="tab-pane fade" id="tier-3" role="tabpanel" aria-labelledby="home-tab">
          <div class="row body text-center mb-5 m-3">
            Tier 3
          </div>
        </div>
        <div class="tab-pane fade" id="tier-4" role="tabpanel" aria-labelledby="home-tab">
          <div class="row body text-center mb-5 m-3">
            Tier 4
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="stepCorporate">
  <div class="row mb-3">
    <div class="col-md-8">
      <div class="card">
        <div class="row header m-3 mb-0 ms-0">
          <div class="col-md-1">
            <button type="button" class="btn-toggle-offcanvas btn btn-sm btn-default float-right" (click)="backToSteps()"><i class="lnr lnr-menu fa fa-chevron-circle-left" style="color: black ; font-size: 20px;"></i></button>
          </div>
          <div class="col">
            <h5>Corporate address set-up and Lender Compliance check</h5>
          </div>
        </div>
          <hr>
        <div class="body ms-3 me-3 mb-5">
          <div class="col">
            <p><input type="checkbox" class="form-check-input me-2 m-0">
            Lorem ipsum dolor sit amet</p>
          </div>
            <hr class="mt-4">
          <div class="col">
            <p><input type="checkbox" class="form-check-input me-2 m-0">
            Praesent lacinia odio non velit ullamcorper cursus</p>
          </div>
            <hr class="mt-4">
          <div class="col">
            <p><input type="checkbox" class="form-check-input me-2 m-0">
            Mauris vel diam auctor</p>
          </div>
            <hr class="mt-4">
          <div class="col">
            <p><input type="checkbox" class="form-check-input me-2 m-0">
            Sed efficitur lectus non orci</p>
          </div>
            <hr class="mt-4">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="header m-3">
          <button type="button" class="btn btn-warning" style="border-radius: 16px">In progress</button>
        </div>
          <hr>
        <div class="body ms-3 me-3 mb-2">
          <div class="col">
            <p>Projected Date of Completion</p>
            24 Jun 2021
            <br><br>
            <p>Cost</p>
            $ 100.00
            <br><br>
            <hr>
          </div>
          <div class="col">
            <p>Assigned Solutionist</p>
            <div class="row">
              <div class="col-1">
                <img src="/assets/images/dashboard/user-pic01.png" class="text-center" alt="...">
              </div>
              <div class="col ms-3">
                <p>Floyd Miles</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="header m-3">
          <h5>Comments</h5>
        </div>
        <hr>
        <div class="body ms-3 me-3 mb-5">
          <div class="row">
            <div class="col-1">
              <img src="/assets/images/dashboard/user-pic01.png" class="text-center" alt="...">
            </div>
            <div class="col">
              <div class="row">
                <div class="col-3" style="width: 18%;">
                  <p>Floyd Miles</p>
                </div>
                <div class="col">
                  <span class="date">01 Jun 2021  13:00</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 container chat ms-3">
                  <p>Aenean sed lobortis odio. Sed efficitur lectus non orci vehicula hendrerit.
                    Phasellus commodo felis mi</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
              <img src="/assets/images/dashboard/user-pic01.png" class="text-center" alt="...">
            </div>
            <div class="col">
              <div class="row">
                <div class="col-3" style="width: 18%;">
                  <p>Floyd Miles</p>
                </div>
                <div class="col">
                  <span class="date">01 Jun 2021  13:00</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 container chat ms-3">
                  <p>Aenean sed lobortis odio. Sed efficitur lectus non orci vehicula hendrerit.
                    Phasellus commodo felis mi</p>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-1">
              <img src="/assets/images/dashboard/profile-default.png" class="text-center" width="40" alt="...">
            </div>
            <div class="col">
              <textarea class="form-control w-50"></textarea>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="ULine">
  <div class="row clearfix">
    <div class="col-lg-8 col-md-8">
      <div class="card">
        <div class="header">
          <h2>My Wallets</h2>

        </div>
        <div class="body">
          <div class="row clearfix">

          </div>
        </div>
      </div>
      <div class="card">
        <div class="header">
          <h2>ToDo List <small>This Month task list</small></h2>
        </div>
        <div class="body todo_list">

        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="card">
        <div class="header">
          <h2>Twitter Feed</h2>
        </div>
        <div class="body">

        </div>
      </div>
    </div>
  </div>
</div>


