/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: 'Overpass', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 300px;
  max-width: 300px;
  background: #1D2B51;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #1D2B51;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #261A3066;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #261A3066;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  /*padding: 20px;*/
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}

.user {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

button.button {
  border-radius: 100rem;
  padding: 1rem;
  font-size: 1rem;
  padding: .5rem 3rem;
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #27ACE7, #4BEBCF);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #1D2B51 inset;
  color: #CCFFFF;
}

button.button:hover {
  box-shadow: none;
  color: white;
}

.hr-custom{
  background: linear-gradient(90deg, #1D2B51 0%, #CCFFFF 68.52%, #261A30 100%);
  height: 2px;
}

.card{
  border-radius: 8px;
}

.fa-exclamation-circle{
  font-size: 30px;
  padding-left: 15px;
}

.btn-secondary{
  background: rgba(237, 243, 243, 0.6);
  color: black;
  font-weight: bolder;
  opacity: 0.4;
}

.goals{
  width: 80%;
  height: 70px;
  background: #FFFFFF;
  border: 2px solid #27ACE7;
  box-sizing: border-box;
  box-shadow: 0px 6px 2px -4px rgba(14, 14, 44, 0.08);
  border-radius: 16px;
  white-space: normal;
  color: #27ACE7;
  font-weight: bold;
  font-size: 16px;
}

.form-select{
  overflow: hidden;
  border:0;
  box-shadow: none; /* => this cause the highlight! */
}
