
<!-- ======= Header ======= -->
<div class="header-image">
  <nav class="navbar navbar-expand-lg justify-content-center">
    <div class="container-fluid m-md-5 m-sm-0">
          <a class="w-50 w-sm-80" href="/">
            <img src="assets/images/landing/Subtract.png">
            <img src="assets/images/landing/bizsolutions.png">
          </a>
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse topnav collapse w-100" id="navbarSupportedContent">
        <ul class="navbar-nav w-100 justify-content-center">
          <li class="nav-item me-4">
            <a class="nav-link active header-texts" href="/">Home</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link header-texts" href="#about">About</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link header-texts" href="#products">Products</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link header-texts" href="#team">Team</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link header-texts" href="#contact">Contact</a>
          </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
          <li class="nav-item me-4">
            <a class="nav-link scrollto header-texts" href="/sign-in">Login</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-lg sign-up-button" (click)="goToSignUp()">Sign up</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="welcome" class="welcome section-bg m-md-header m-sm-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="welcome">Welcome to <span class="fw-bolder">BizSolutions</span></h1>
          <p class="sub-welcome mt-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rutrum convallis tincidunt.
          </p>
          <button class="btn btn-lg get-started mt-3">Get Started</button>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 contentr">
          <img src="assets/images/landing/GCash.png" class="img-fluid" alt="">
        </div>
      </div>

    </div>
  </section>
</div>
<!-- ======= Header ======= -->

<!-- ======= About Us Section ======= -->
<section id="about">
  <div class="container d-flex align-items-center justify-content-center">
    <div class="about-section-title">
      <h1 class="mb-4">ABOUT US</h1>
      <p class="about-us-content">
        Phasellus aliquet lectus id efficitur mollis. Sed lacinia purus sed dapibus tempor. <br> Integer eleifend purus non condimentum vestibulum. <br><br>
        Curabitur fermentum nec mi sed porta. In posuere ultrices rhoncus.<br> Nam rhoncus nibh a eros consectetur pellentesque in vitae ipsum. Sed varius semper dui quis <br> laoreet. Fusce scelerisque faucibus malesuada. <br><br>
        Mauris semper scelerisque felis, vel maximus ex vestibulum eu. Nunc sit amet <br> ligula mi. Maecenas finibus volutpat nulla a porttitor. In egestas purus nec sem <br>feugiat, et ullamcorper nibh ultricies. <br><br>
        Cras in quam eget justo vestibulum ullamcorper eu eget ante. Curabitur convallis <br> dui nisi, a maximus eros tincidunt ac.<br><br>
      </p>
    </div>
  </div>
</section>

<!-- ======= End About Us Section ======= -->


<!-- ======= Products Section ======= -->

<section id="products" class="products">
<div class="product-section product-height">
  <nav class="navbar navbar-expand-lg justify-content-center mb-5">
    <div class="container-fluid">
      <div class="row m-md-header m-sm-header">
        <div class="col-lg-7 content mt-5">
          <h1 class="welcome">OUR PRODUCTS</h1>
          <ul>
            <li class="align-items-center mt-5">
              <img src="assets/images/landing/Security.png" class="img-fluid me-3" alt="">
              <div>
                <h1 class="product-title">Lender Compliance Program</h1>
                <p class="product-sub-title">PERSONAL</p>
              </div>
            </li>
          </ul>
          <div class="product-desc">
            <ul class="ms-5">
              <li>
                Increase your credit scores to meet lender requirement
              </li>
              <li>
                Remove negative items in your credit file
              </li>
              <li>
                Ensure accuracy of your information in your credit file
              </li>
            </ul>
          </div>
          <button class="btn btn-lg get-started mt-3 ms-5">learn more</button>
        </div>
        <div class="col-lg-5 content mt-5">
          <img src="assets/images/landing/cell.png" class="img-fluid" alt="" style="height: 437.86px;width: 100%;">
        </div>
      </div>
    </div>
  </nav>

  <hr class="divider">

  <nav class="navbar navbar-expand-lg justify-content-center mt-5 mb-5">
    <div class="container-fluid">
      <div class="row m-md-header m-sm-header">
        <div class="col-lg-5 content">
          <img src="assets/images/landing/corporate.png" class="img-fluid" alt="" style="height: 437.86px;width: 100%;">
        </div>
        <div class="col-lg-7 content">
          <ul>
            <li class="align-items-center mt-5">
              <img src="assets/images/landing/Security.png" class="img-fluid me-3" alt="">
              <div>
                <h1 class="product-title">Lender Compliance Program</h1>
                <p class="product-sub-title">CORPORATE</p>
              </div>
            </li>
          </ul>
          <div class="product-desc">
            <ul class="ms-5">
              <li>
                Ensure that your business name and industry meets lender compliance
              </li>
              <li>
                Build Corporate Credit to where your company will qualify for NO PG Funding
              </li>
              <li>
                Get assistance in establishing your brand
              </li>
            </ul>
          </div>
          <button class="btn btn-lg get-started mt-3 ms-5">learn more</button>
        </div>
      </div>
    </div>
  </nav>

  <hr class="divider">

  <nav class="navbar navbar-expand-lg justify-content-center mt-5">
    <div class="container-fluid">
      <div class="row m-md-header m-sm-header">
        <div class="col-lg-7 content">
          <ul>
            <li class="align-items-center mt-5">
              <img src="assets/images/landing/Arrow.png" class="img-fluid me-3" alt="">
              <div>
                <h1 class="product-title">Strategic Funding Solutions</h1>
              </div>
            </li>
          </ul>
          <div class="product-desc">
            <ul class="ms-5">
              <li>
                Obtain funding products that match your business goals.
              </li>
              <li>
                Start up unsecured funding
              </li>
              <li>
                Real estate financing
              </li>
            </ul>
          </div>
          <button class="btn btn-lg get-started mt-3 ms-5">learn more</button>
        </div>
        <div class="col-lg-5 content">
          <img src="assets/images/landing/strategic.png" class="img-fluid" alt="" style="height: 437.86px;width: 100%;">
        </div>
      </div>
    </div>
  </nav>
</div>
</section>
<!-- ======= End Products Section ======= -->
