<div *ngIf="isLoading" class="sk-chase">
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
</div>

<div *ngIf="!isLoading" class="container login-bg">
  <div style="height: 100px">
    <div class="container text-center text-md-start pt-5">
      <a class="" href="/">
        <img src="assets/images/landing/Subtract.png">
        <img src="assets/images/landing/bizsolutions.png">
      </a>
    </div>
  </div>
  <main class="form-signup">
    <form [formGroup]="signUpFormGroup" (ngSubmit)="signUp()" autocomplete="off" >
      <div class="text-center">
        <div class="topnav">
          <ul class="nav justify-content-center pt-3 pb-5">
            <li class="nav-item">
              <a class="nav-link header-texts" href="/sign-in">Login</a>
            </li>
          </ul>
        </div>
        <div *ngIf="errorMessage" class="text-center mt-3 mb-2">
          <span class="text-danger">{{errorMessage}}</span>
        </div>
      </div>
      <div class="form-floating">
        <input type="email" class="form-control" formControlName="email" id="email" placeholder="name@example.com">
        <label class="ph-title" for="email">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" formControlName="password" id="password" placeholder="password">
        <label class="ph-title" for="password">Password</label>
      </div>
      <div class="form-floating">
        <input type="number" class="form-control" formControlName="contact" id="contact" placeholder="contact">
        <label class="ph-title" for="contact">Contact</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" formControlName="address" id="address" placeholder="address">
        <label class="ph-title" for="address">Address</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary get-started mt-4" [disabled]="!signUpFormGroup.valid || isSigningUp" type="submit">
        <span *ngIf="!isSigningUp" style="color: #CCFFFF;">Submit</span>
        <div  *ngIf="isSigningUp"  class="spinner-border text-dark" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </button>
      <p class="mt-5 mb-3 text-muted">&copy;2021</p>
    </form>
  </main>
</div>


