html{
  width: 100%;
}

.form-signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background: rgba(29, 43, 81, 1);
  border-radius: 8px;
}

.form-signup .checkbox {
  font-weight: 400;
}

.form-signup .form-floating:focus-within {
  z-index: 2;
}

.form-signup input[type="email"] {
  margin-bottom: 10px;
  background: #FFFFFF;
  backdrop-filter: blur(3px);
  border-radius: 16px;
}

.form-signup input[type="password"] {
  margin-bottom: 10px;
  background: #FFFFFF;
  backdrop-filter: blur(3px);
  border-radius: 16px;
}

.form-signup input[type="number"] {
  margin-bottom: 10px;
  background: #FFFFFF;
  backdrop-filter: blur(3px);
  border-radius: 16px;
}

.form-signup input[type="text"] {
  margin-bottom: 10px;
  background: #FFFFFF;
  backdrop-filter: blur(3px);
  border-radius: 16px;
}

.bg-top-nav{
  width: 100%;
  background-image:url('../../../assets/images/landing/bg-top.png');
  background-size: 100% 100%;
  /*transition: all 0.5s;*/
  /*z-index: 997;*/
  height: 86px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.login-bg{
  max-width: 100%;
  background-image:url('../../../assets/images/landing/auth/log-bg.png');
  background-size: cover;
  min-height: 100vh;
  height: auto;
  margin: 0;
}

.header-texts{
  font-family: Overpass, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #CCFFFF;
}


.topnav a:hover:before, .topnav li:hover > a:before, .topnav .active:before {
  visibility: visible;
  width: 100%;
}

.topnav a:hover, .topnav .active, .topnav li:hover > a {
  background: -webkit-linear-gradient(103.88deg, #27ACE7 8.14%, #4BEBCF 93.22%);
  text-shadow: 0px 1px 6px 0px rgba(225, 255, 255, 0.5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topnav > ul > li > a:after {
  display:block;
  content: '';
  padding-bottom:3px;
  background:
    linear-gradient(to left,  #27ACE7, #4BEBCF),
    linear-gradient(to left,  #27ACE7, #4BEBCF);
  background-size:100% 2px;
  background-position:bottom 0 left 0,bottom 5px left 0;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  border-radius: 2px;
}

.topnav > ul > li > a:after{ transform-origin: 100% 50%; }
.topnav > ul > li > a:hover:after{ transform: scaleX(1); transform-origin:   0% 50%; }

.get-started{
  height: 48px;
  width: 228px;
  left: 0px;
  top: 0px;
  border-radius: 16px;
  background: linear-gradient(103.88deg, #27ACE7 8.14%, #4BEBCF 93.22%);
  color: #CCFFFF;
  box-shadow: 0px 11px 14px -10px rgba(51, 51, 51, 0.3);
}

hr.divider {
  height: 2px;
  background: linear-gradient(to right, #4EEAE2, #CCFFFF, #4EEAE2);
  width: 100%;
  margin: auto;
}

.product-sub-title{
  font-family: Rubik, sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
  background: -webkit-linear-gradient(103.88deg, #27ACE7 8.14%, #4BEBCF 93.22%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ph-title{
  font-size: 20px;
  line-height: 31px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #1d2b51;
  opacity: 0.4;
  text-shadow: 0px 1px 4px rgba(51, 110, 126, 0.4);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: white;
  background: linear-gradient(103.88deg, #27ACE7 8.14%, #4BEBCF 93.22%);
}

.nav-pills .nav-payment.active, .nav-pills .show>.nav-payment {
  position: relative;
  background: linear-gradient(103.88deg, #27ACE7 8.14%, #4BEBCF 93.22%);
  padding: 2px;
}

.payment-container {
  background: white;
  color: black;
  padding: 2rem;
}

.page-container{
  width: 38px;
  height: 38px;
  color: #1D2B51;
  background: #858fa2;
  border-radius: 20px;
  text-align: center;
  padding: 0;
}

.page-num{
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.05em;
  text-shadow: 0px 1px 6px rgba(225, 255, 255, 0.5);
}

.checkout{
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.05em;
  color: #1D2B51;
  text-shadow: 0px 1px 6px rgba(225, 255, 255, 0.5);
}

.card{
  background: #EDF3F3;
  border-radius: 8px;
}

.card-body{
  padding: 2rem
}

.card-body>input{
  border: 1px solid #EDF3F3;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px -4px rgba(236, 239, 244, 0.7);
  border-radius: 16px;
}

.card-text{
  /* 14/bold */

  font-family: Overpass, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #1D2B51;
  opacity: 0.5;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 8px 0px;
}

.next-button{
  background: linear-gradient(103.88deg, #27ACE7 8.14%, #4BEBCF 93.22%);
  box-shadow: 0px 11px 14px -10px rgba(51, 51, 51, 0.3);
  border-radius: 16px;
}

.hr-custom{
  background: linear-gradient(90deg, #1D2B51 0%, #CCFFFF 68.52%, #261A30 100%);
  height: 2px;
}

.card-title-price{
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #1D2B51;
}

.input-custom{
  border: 1px solid #EDF3F3;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px -4px rgba(236, 239, 244, 0.7);
  border-radius: 16px;
}

.payment-card{
  background: #FFFFFF;
  box-shadow: 0px 4px 20px -4px rgba(38, 26, 48, 0.1);
  border-radius: 4px;
}

sup {
  top: -.3em;
  opacity: 0.4;
}
