p{
  font-family: Overpass, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #787D8D;
}

input, select, textarea{
  border-radius: 16px;
}

.ave{
  background: rgba(237, 243, 243, 0.6);
  border: 1px solid #747979;
  box-sizing: border-box;
  border-radius: 16px;
}

.chat{
  background: rgba(237, 243, 243, 0.6);
  border-radius: 8px;
}
