<div class="row">
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="header m-3">
        <h4>Your Credit Score</h4>
        <hr>
      </div>
      <div class="body text-center mb-5">
        <div class="row fw-bolder">
          <div class="col-md-4">
            EQUIFAX
            <div mkMorrisJs="Donut" [options]="chartDonutOptions" [data]="chartDonutData" style=" height: 200px;"></div>
          </div>
          <div class="col-md-4">
            EXPERIAN
            <div mkMorrisJs="Donut" [options]="chartDonutOptions" [data]="chartDonutData" style=" height: 200px;"></div>
          </div>
          <div class="col-md-4">
            TRANSUNION
            <div mkMorrisJs="Donut" [options]="chartDonutOptions" [data]="chartDonutData" style=" height: 200px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card mb-3">
      <div class="row header m-3">
        <div class="col">
          <h4>Dispute Status</h4>
        </div>
        <div class="col mb-2">
          <select class="form-select" aria-label="Default select example">
            <option selected></option>
            <option value="1">Lorem Ipsum</option>
            <option value="2">Lorem Ipsum</option>
            <option value="3">Lorem Ipsum</option>
          </select>
        </div>
        <hr>
      </div>
      <div class="body text-center mb-5">
        <div class="row fw-bolder">

        </div>
      </div>
    </div>
  </div>
</div>

<div class="col">
  <div class="card mb-3">
    <div class="row header m-3">
      <div class="col">
        <h4>Average of account</h4>
      </div>
      <div class="col text-end mb-2">
        <button class="btn btn-lg get-started">Simulate</button>
      </div>
      <hr>
    </div>
    <div class="body text-center mb-5">
      <div class="row fw-bolder">

      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="row header m-3">
    <div class="col">
      <h4>LCP Enhancement</h4>
    </div>
  </div>
  <div class="body text-center m-5 mt-0">
    <div class="row">
      <div class="col-md-6 m-5 mt-0">
        <p>Credit builder account</p>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row m-5 mt-0 mb-3">
      <hr>
      <div class="col-md-6 p-0">
        <p>Reporting to</p>
        <select class="form-select" aria-label="Default select example">
          <option selected></option>
          <option value="1">Lorem Ipsum</option>
          <option value="2">Lorem Ipsum</option>
          <option value="3">Lorem Ipsum</option>
        </select>
        <br>
        <p>Credit vendor / Lender status</p>
        <select class="form-select" aria-label="Default select example">
          <option selected></option>
          <option value="1">Lorem Ipsum</option>
          <option value="2">Lorem Ipsum</option>
          <option value="3">Lorem Ipsum</option>
        </select>
      </div>
      <div class="col-md-6">
        <p>Vendor / Lender Details</p>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
      </div>
    </div>
    <div class="row m-5 mt-0 mb-3">
      <div class="col-md-6 p-0">
        <p>Credit limit</p>
        <input type="text" class="form-control">
      </div>
      <div class="col-md-6">
        <p>Username</p>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row m-5 mt-0 mb-3">
      <div class="col-md-6 p-0">
        <p>Account type</p>
        <select class="form-select" aria-label="Default select example">
          <option selected></option>
          <option value="1">Lorem Ipsum</option>
          <option value="2">Lorem Ipsum</option>
          <option value="3">Lorem Ipsum</option>
        </select>
      </div>
      <div class="col-md-6">
        <p>Password</p>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row m-5 mt-0 mb-3">
      <div class="col-md-6 p-0">
        <p>Payment status</p>
        <select class="form-select" aria-label="Default select example">
          <option selected></option>
          <option value="1">Lorem Ipsum</option>
          <option value="2">Lorem Ipsum</option>
          <option value="3">Lorem Ipsum</option>
        </select>
      </div>
    </div>
    <div class="row m-5 mt-0 mb-3">
      <div class="col p-0">
        <p>Upload</p>
        <div class="card" style="background: #EDF3F399;">
          <div class="card-body">
            <div class="row text-start">
              <div class="col-md-6">
                Filename
              </div>
              <div class="col-md-3">
                Size
              </div>
              <div class="col-md-3">
                Date
              </div>
            </div>
            <hr>
            <div class="row text-start fw-bolder">
              <div class="col-md-6">
                loremipsum.pdf
              </div>
              <div class="col-md-3">
                3 MB
              </div>
              <div class="col-md-3">
                01 Jun 2021
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col mt-3">
  <div class="card mb-3">
    <div class="row header m-3">
      <div class="col">
        <h4>LCP Removal</h4>
      </div>
      <div class="col text-end mb-2">
        <button class="btn btn-lg get-started">Add item</button>
      </div>
      <hr>
    </div>
    <div class="body text-center m-5 mt-0">
      <div class="card" style="background: #EDF3F399;">
        <div class="card-body">
          <div class="row text-start">
            <div class="col-md-2">
              Negative item type
            </div>
            <div class="col-md-4">
              Description
            </div>
            <div class="col-md-2">
              Experian
            </div>
            <div class="col-md-2">
              Equifax
            </div>
            <div class="col-md-2">
              Transunion
            </div>
          </div>
          <hr>
          <div class="row text-start fw-bolder">
            <div class="col-md-2">
              Loremipsum
            </div>
            <div class="col-md-4">
              Loremipsum
            </div>
            <div class="col-md-2">
              Loremipsum
            </div>
            <div class="col-md-2">
              Loremipsum
            </div>
            <div class="col-md-2">
              Loremipsum
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

